{% extends '../../layout.html' %}
{% block content %}
<style>
    #bo-list{display:none}
</style>
<!-- 비밀번호 화면 만들기 -->
<div class="container" id="bo-view">
    <form name="form" method="post" action="/bbs_post/password/{{params.bo_id}}">
     
    <input type="hidden" name="type" value="{{query.type}}">
    <input type="hidden" name="id" value="{{query.id}}">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">비밀번호</span>
        <input type="password"  name="bo_password" class="form-control" placeholder="비밀번호를 입력하세요." aria-describedby="basic-addon1">
    </div>
    <div id="error-msg"></div>
    <div class="text-center">
        <button class="btn btn-primary">
            {% if query.type == "remove" %}
            삭제하기
            {% else %}
            수정하기
            {% endif %}
        </button>
    </div>
    </form>
</div>
<!-- 로그인 화면 만들기 -->
{% endblock %}
{% block script%}
<!-- 스크립트 시작-->
<script type="text/javascript">
    window.onload = () =>{
        //로그인 오류가 발생할 시 문구 띄우기
        if (new URL(location.href).searchParams.get('error_code')) {
            document.getElementById("error-msg").innerHTML='<font color=red>비밀번호가 맞지 않거나 또는 게시판이 이미 지워진 상태입니다.</font>';
            //alert(new URL(location.href).searchParams.get('loginError'));
            return;
        }
    }
</script>
<!-- 스크립트 끝 -->
{% endblock %}