{% extends './layout.html' %}
{% block content %}
<div class="content-wrapper">    
    <div class="container-fluid" style="padding:20px">
        <form name="form_list" method="post" action="/admin_post/content_update">
        <input type="hidden" name="page" value="{{pageData.page}}">
        <input type="hidden" name="field" value="{{pageData.field}}">
        <input type="hidden" name="value" value="{{pageData.value}}">
        <input type="hidden" name="type" value="">
        <input type="hidden" name="id" value="">
        <div class="col-xs-12 col-md-12 col-lg-12" style="text-align:right">
            <a class="btn btnprimary" href="/admin/content_form">내용추가</a>
        </div>
        <table class="table table-border">
            <thead>
                <tr>
                    <th>아이디</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
                {% set no = (pageData.totalCnt - pageData.skipSize) %}
                {% for row in row %}
                <tr>
                    <td>{{ row.co_id }}</td>
                    <td>{{ row.subject }}</td>
                    <td>
                        <a href="/content/{{row.co_id}}" target="_blank">내용보기</a>
                    </td>
                   
                    <td>
                        <a href="/admin/content_form/?w=u&id={{row.id}}&page={{pageData.page}}&field={{pageData.query.field}}&value={{pageData.query.value}}">수정</a> 
                        / 
                        <a href="javascript:;" onclick="contentRemove('{{row.id}}')">삭제</a>
                    </td>
                </tr>
                {% set no = no -1 %}
                {% endfor %}
            </tbody>
        </table>
        
                   
        <!-- 검색폼 시작-->
        <form name="formSearch" method="get" action="/admin/content_list" class="form-group">
            <input type="hidden" name="page" value="1">
            <table style="margin:0 auto">
                <tbody>
                    <tr>
                        <td>검색</td>
                        <td>
                            <select name="field" class="form-control">
                                <option value="co_id"{% if query.field == 'co_id' %} selected {% endif %}>아이디</option>
                                <option value="subject"{% if query.field == 'subject' %} selected {% endif %}>제목</option>
                                <option value="content"{% if query.field == 'content' %} selected {% endif %}>내용</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="value" value="{{query.value}}" class="form-control">
                        </td>
                        <td><button class="btn btn-primary" type="submit">검색하기</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <!-- 검색폼 끝 -->
        <div class="text-center">
        
        <nav>
            
            <ul class="pagination">
               
                {% if 1 < pageData.pageStart %}
                <li>
                  <a href="?page={{pageData.pageStart - 10 }}&field={{pageData.query.field}}&value={{pageData.query.value}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
                
                {% for page in range(pageData.pageStart-1,pageData.pageEnd) %}
                {% if page < pageData.pageTotal %}
                <li class="{% if page+1 == pageData.page==1  %}active{% endif %}"><a href="?page={{page+1}}&field={{pageData.query.field}}&value={{pageData.query.value}}">{{page+1}}</a></li>
                {% endif %}
                {% endfor %}
                
                {% if pageData.pageEnd < pageData.pageTotal %}
                <li>
                  <a href="?page={{pageData.pageEnd+1}}&field={{pageData.query.field}}&value={{pageData.query.value}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function contentRemove(id){
        Swal.fire({
                title:`이 내용을 삭제하시겠습니까?`,
                showCancelButton:true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor:'#d33'
         }).then((result)=>{
            if ( result.isConfirmed){
                var id_form = document.getElementsByName("id")[0];
                id_form.value=id;
                const form=document.form_list;
                form.type.value="delete";//모드 변경
                form.submit();   
            }
         });
    }
</script>
{% endblock %}