{% extends './layout.html' %}
{% block content %}
<div class="content-wrapper">    
    <div class="container-fluid" style="padding:20px">
        <form name="form_list" method="post" action="/admin_post/member_update">
        <input type="hidden" name="page" value="{{pageData.page}}">
        <input type="hidden" name="field" value="{{pageData.field}}">
        <input type="hidden" name="value" value="{{pageData.value}}">
        <input type="hidden" name="type" value="">
        <input type="hidden" name="user_level2" value="">
        <input type="hidden" name="auth_status2" value="">
        <input type="hidden" name="user_id" value="">
        <div class="col-xs-12 col-md-12 col-lg-12" style="text-align:right">
            <a class="btn btnprimary" href="/admin/member_form/add">회원추가</a>
        </div>
        <table class="table table-border">
            <thead>
                <tr>
                    <th><input type="checkbox" name="chk" id="chk"></th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>등급</th>
                    {% if pageData.siteInfo.user_auth_set %}
                    <th>승인여부</th>
                    {% endif %}
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
               
                {% set no = (pageData.totalCnt - pageData.skipSize) %}
                {% for row in pageData.row %}
                
                <tr>
                    <td><input type="checkbox" name="chk_id" id="chk_id" value="{{row.user_id}}"></td>
                    <td>{{ no }}</td>
                    <td>{{ row.user_id }}</td>
                    <td>{{ row.user_name }}</td>
                    <td>
                        <select name="user_level" class="form-control user-level" id="user_level">
                        {% for levels in pageData.levels.levels %}
                            <option value="{{levels.level}}"{% if row.user_level==levels.level %} selected{% endif %}>{{levels.text}}</option>
                        {% endfor %}
                        </select>
                    </td>
                    {% if pageData.siteInfo.user_auth_set %}
                    <th>
                        <select name="auth_status" class="form-control user-level" id="auth_status">
                            <option value="0"{% if row.auth_status == 0 %} selected {% endif %}>승인안함</option>
                            <option value="1"{% if row.auth_status == 1 %} selected {% endif %}>승인함</option>
                        </select>
                    </th>
                    {% else %}
                    <input type="hidden" name="auth_status" value="1">
                    {% endif %}
                    <td>
                        <a href="/admin/member_form/{{row.user_id}}/?w=u&page={{pageData.page}}&field={{pageData.query.field}}&value={{pageData.query.value}}">수정</a> 
                        / 
                        <a href="javascript:;" onclick="memberRemove('{{row.user_id}}')">삭제</a>
                    </td>
                </tr>
                {% set no = no -1 %}
                {% endfor %}
            </tbody>
        </table>
        
        <div class="text-center col-lg-12 col-xs-12 col-md-12">
            <div style="float:left;width:200px">
                <button class="btn btn-primary" type="button" id="choiceEditor">선택수정</button> <button class="btn btn-danger" type="button" id="choiceDelete">선택삭제</button>
            </div>
        </form>            
        <!-- 검색폼 시작-->
        <form name="formSearch" method="get" action="/admin/member_list" class="form-group">
            <input type="hidden" name="page" value="1">
            <table style="margin:0 auto">
                <tbody>
                    <tr>
                        <td>검색</td>
                        <td>
                            <select name="field" class="form-control">
                                <option value="user_id">아이디</option>
                                <option value="user_name">이름</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="value" value="{{pageData.query.value}}" class="form-control">
                        </td>
                        <td><button class="btn btn-primary" type="submit">검색하기</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <!-- 검색폼 끝 -->
        <div class="text-center">
        
        <nav>
            
            <ul class="pagination">
               
                {% if 1 < pageData.pageStart %}
                <li>
                  <a href="?page={{pageData.pageStart - 10 }}&field={{pageData.query.field}}&value={{pageData.query.value}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
                
                {% for page in range(pageData.pageStart-1,pageData.pageEnd) %}
                {% if page < pageData.pageTotal %}
                <li class="{% if page+1 == pageData.page==1  %}active{% endif %}"><a href="?page={{page+1}}&field={{pageData.query.field}}&value={{pageData.query.value}}">{{page+1}}</a></li>
                {% endif %}
                {% endfor %}
                
                {% if pageData.pageEnd < pageData.pageTotal %}
                <li>
                  <a href="?page={{pageData.pageEnd+1}}&field={{pageData.query.field}}&value={{pageData.query.value}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
//전체선택
    document.getElementById("chk").addEventListener("click",function(e){
        for(var i=0;i< document.getElementsByName("chk_idx").length;i++){
            document.getElementsByName("chk_idx")[i].checked=document.getElementById("chk").checked;
        }
    });
    //선택수정
    document.getElementById("choiceEditor").addEventListener("click",function(e){
        isCheck=isChecks();
        if(isCheck==false){
            Swal.fire('체크박스 하나 이상 체크가 되어야 합니다.');
        }else{
            Swal.fire({
                title:'선택하신 회원님들 등급을 변경하시겠습니까?',
                showCancelButton:true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor:'#d33'
            }).then((result) => {
                var chk_id = document.getElementsByName("chk_id");
                var user_level = document.getElementsByName("user_level");
                var user_level2 = document.getElementsByName("user_level2");
                var auth_status = document.getElementsByName("auth_status");
                var auth_status2 = document.getElementsByName("auth_status2");
                for(var i=0;i<chk_id.length;i++){
                    if(chk_id[i].checked){
                        user_level2[0].value=user_level[i].value;
                        auth_status2[0].value=auth_status[i].value;
                    }
                }
                
                if ( result.isConfirmed){
                    const form=document.form_list;
                    form.type.value="list_update";//모드 변경 
                    form.submit();      
                }else{
                    Swal.fire('변경을 취소하였습니다.');
                }
            });
        }
    });
    document.getElementById("choiceDelete").addEventListener("click",function(e){
        isCheck=isChecks();
        if(isCheck==false){
            Swal.fire('체크박스 하나 이상 체크가 되어야 합니다.');
        }else{
            Swal.fire({
                title:'선택하신 회원님들을 삭제하시겠습니까?',
                showCancelButton:true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor:'#d33'
            }).then((result) => {
                if ( result.isConfirmed){
                    const form=document.form_list;
                    form.type.value="list_delete";//모드 변경
                    form.submit();      
                }else{
                    Swal.fire('삭제를 취소하였습니다.');
                }
            });
        }
    });
    //체크박스 체크했는지 안 했는지 여부 묻기
    function isChecks(){
        var chk_id = document.getElementsByName("chk_id");
        var isCheck=false;
        for(var i=0;i<chk_id.length;i++){
            if(chk_id[i].checked){
                isCheck=true;
                break;
            }else{

            }
        }
        return isCheck;
    }
    function memberRemove(user_id){
        Swal.fire({
                title:`${user_id}회원님을 삭제하시겠습니까?`,
                showCancelButton:true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor:'#d33'
         }).then((result)=>{
            if ( result.isConfirmed){
                var user_id_form = document.getElementsByName("user_id")[0];
                user_id_form.value=user_id;
                const form=document.form_list;
                form.type.value="delete";//모드 변경
                form.submit();   
            }
         });
    }
   //등급 변경시 체크박스에 체크가 되게
   $(function(){
    $(".user-level").change(function(){
        $(this).parent().parent().find("input[type=checkbox]").prop("checked",true);
    })
   });
</script>
{% endblock %}