{% extends '../layout.html' %}
{% block content %}
<!-- 로그인 화면 만들기 -->
<div class="container">
    <div class="text-center">회원가입</div>
    <form name="form" method="post" action="/login/join" onsubmit="return formCheck()">
        <input type="hidden" name="w" id="w" value="{{query.w}}">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">ID</span>
            <input type="text" name="user_id" id="user_id" class="form-control" placeholder="아이디를 입력하세요" aria-describedby="basic-addon1" value="{{user.user_id}}" required{% if query.w=="u" %} readonly{% endif %}>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">PASSWORD</span>
            <input type="password" name="user_password" id="user_password" class="form-control" placeholder="비밀번호를 입력하세요" aria-describedby="basic-addon1" {% if query.w=="" %}required{% endif %}>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">PASSWORD-RE</span>
            <input type="password" name="user_password_re" id="user_password_re" class="form-control" placeholder="비밀번호를 입력하세요" aria-describedby="basic-addon1"  {% if query.w=="" %}required{% endif %}>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">이름</span>
            <input type="text" name="user_name" class="form-control" placeholder="이름을 입력하세요" aria-describedby="basic-addon1" required value="{{user.user_name}}">
        </div>
        <!-- 사이트 설정에서 설정된대로 보여주기-->
        
        {% if siteInfo.user_tel_set !=0 %}
        <!-- 전화번호-->
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">전화번호</span>
            <input type="tel" name="user_tel" class="form-control" placeholder="전화번호를 입력하세요" aria-describedby="basic-addon1"{% if siteInfo.user_tel_set == 2 %} required {% endif %} value="{{user.user_tel}}"> 
        </div>
        {% endif %}
        {% if siteInfo.user_mobile_set !=0 %}
        <!-- 휴대폰-->
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">휴대폰번호</span>
            <input type="tel" name="user_mobile" class="form-control" placeholder="휴대폰번호를 입력하세요" aria-describedby="basic-addon1"{% if siteInfo.user_mobile_set == 2 %} required {% endif %}  value="{{user.user_mobile}}"> 
        </div>
        {% endif %}
        {% if siteInfo.user_email_set !=0 %}
        <!-- 휴대폰-->
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">이메일</span>
            <input type="email" name="user_email" class="form-control" placeholder="이메일을 입력하세요" aria-describedby="basic-addon1"{% if siteInfo.user_email_set == 2 %} required {% endif %}  value="{{user.user_email}}"> 
        </div>
        {% endif %}
        {% if siteInfo.user_addr_set !=0 %}
        <!-- 우편번호-->
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">우편번호</span>
            <input type="text" name="user_zip" id="user_zip" class="form-control" placeholder="우편번호 검색을 하세요" aria-describedby="basic-addon1"{% if siteInfo.user_addr_set == 2 %} required {% endif %}  value="{{user.user_zip}}"> 
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="sample3_execDaumPostcode()">우편번호찾기</button>
              </span>
        </div>
        <div id="wrap" style="display:none;border:1px solid;width:100%;height:300px;margin:5px 0;position:relative">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
        </div>
        <!-- 주소-->
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">주소</span>
            <input type="text" name="user_addr1" id="user_addr1" class="form-control" placeholder="주소를 입력하세요" aria-describedby="basic-addon1"{% if siteInfo.user_addr_set == 2 %} required {% endif %} value="{{user.user_addr1}}"> 
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">상세주소</span>
            <input type="text" name="user_addr2" id="user_addr2" class="form-control" placeholder="주소를 입력하세요" aria-describedby="basic-addon1"{% if siteInfo.user_addr_set == 2 %} required {% endif %}value="{{user.user_addr2}}"> 
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">주소(기타)</span>
            <input type="text" name="user_addr3" id="user_addr3" class="form-control" placeholder="주소를 입력하세요" aria-describedby="basic-addon1"value="{{user.user_addr3}}"> 
        </div>
        

        {% endif %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                {% if query.w %}정보수정{% else %}회원가입{% endif %}
            </button>
        </div>
    </form>
</div>
<!-- 로그인 화면 만들기 -->
{% endblock %}
{% block script%}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
var isIdCheck=false;
var isPasswordCheck=false;
function formCheck(){
    if(document.getElementById("w"=="")){
        if(isIdCheck==false){
            Swal.fire('중복된 아이디가 있거나 또는 중복체크를 하지 않으셨습니다.');
            return false;
        }
        if(isPasswordCheck==false){
            Swal.fire('비밀번호 형식을 안 맞거나 또는 비밀번호 재확인이 맞지 않습니다.');
            return false;
        }
    }else{
        if(document.getElementById("user_password").value){
            if(isPasswordCheck==false){
                Swal.fire('비밀번호 형식을 안 맞거나 또는 비밀번호 재확인이 맞지 않습니다.');
                return false;
            }   
        }
    }
}
//아이디 중복체크
document.getElementById("user_id").addEventListener('blur', function(e){
    if(1 < this.value.length&&document.getElementById("w").value==""){
        axios.post('/login/id_check', {
            params: {
                user_id: document.getElementById('user_id').value
            }
        }).then((res) => {
        if(res.data.success=="failed"){
                isIdCheck=false;
                Swal.fire('중복된 아이디입니다. 다시 입력하십시오.');
        }else{
                Swal.fire('축하합니다. 사용하실 수 있는 아이디입니다.');
                isIdCheck=true;
        }
        }).catch((err) => {
            console.log(err);
        });
    }
});
//비밀번호 체크하기
document.getElementById("user_password").addEventListener('blur', function(e){
    var passwordRules = /^(?=.*[a-zA-Z])(?=.*[0-9]).{4,16}$/;
    const user_password = document.getElementById("user_password").value;
    if(3<user_password.length){
        if(passwordRules.test(user_password)){
            isPasswordCheck=true;
        }else{
            Swal.fire("비밀번호 형식이 맞지 않습니다. 영문+숫자 혼합해서 4자리 이상 입력을 입력하세요.");
            isPasswordCheck=false;
        }
    }else{
        isPasswordCheck=false;
    }
});
//비밀번호 재확인 체크하기
document.getElementById("user_password_re").addEventListener('blur', function(e){
    var passwordRules = /^(?=.*[a-zA-Z])(?=.*[0-9]).{4,16}$/;
    const user_password_re = document.getElementById("user_password_re").value;
    const user_password = document.getElementById("user_password").value;
    if(passwordRules.test(user_password)){
        if(user_password!=user_password_re){
            Swal.fire('비밀번호가 맞지 않습니다.');
           
            isPasswordCheck=false;
        }else{
            isPasswordCheck=true;
        }
    }else{
        Swal.fire("비밀번호 형식이 맞지 않습니다. 영문+숫자 혼합해서 4자리 이상 입력을 입력하세요.");
        isPasswordCheck=false;
    }
});
// 우편번호 찾기 찾기 화면을 넣을 element
var element_wrap = document.getElementById('wrap');

function foldDaumPostcode() {
    // iframe을 넣은 element를 안보이게 한다.
    element_wrap.style.display = 'none';
}

function sample3_execDaumPostcode() {
    // 현재 scroll 위치를 저장해놓는다.
    var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
    new daum.Postcode({
        oncomplete: function(data) {
            // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("user_addr3").value = extraAddr;
            
            } else {
                document.getElementById("user_addr3").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('user_zip').value = data.zonecode;
            document.getElementById("user_addr1").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("user_addr2").focus();

            // iframe을 넣은 element를 안보이게 한다.
            // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
            element_wrap.style.display = 'none';

            // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
            document.body.scrollTop = currentScroll;
        },
        // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
        onresize : function(size) {
            element_wrap.style.height = size.height+'px';
        },
        width : '100%',
        height : '100%'
    }).embed(element_wrap);

    // iframe을 넣은 element를 보이게 한다.
    element_wrap.style.display = 'block';
}

//회원가입 후에 error가 생기면 경고창 띄우기
window.onload = () =>{
    //로그인 오류가 발생할 시 문구 띄우기
    if (new URL(location.href).searchParams.get('error')=="nojoin") {
        
        Swal.fire('회원가입에 실패하였습니다. 중복된 아이디가 있습니다.');
        //alert(new URL(location.href).searchParams.get('loginError'));
        return;
    }
}

</script>
{% endblock %}