<footer class="footer">
    <div class="container">
        <ul class="tab-menu">
            <li>회사소개</li>
            <li>오시는 길</li>
        </ul>
    </div>
    <div class="">
        주소 : {{siteInfo.company_addr1}} {{siteInfo.company_addr2}}
        사업자등록번호 : {{siteInfo.company_biz_no}} 
        대표자 : {{siteInfo.company_ceo}}<br/>
        전화번호 : <a href="tel:{{siteInfo.company_tel}}">{{siteInfo.company_tel}}</a>
        팩스 : {{siteInfo.company_fax}}
        이메일 : {{siteInfo.company_email}}<br/><br/>
        Copyright 2021 {{siteInfo.site_title}}
    </div>
</footer>